.logo{
  &__text{
    color: #ffffff;
    font-family: "Open Sans - Extra Bold";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    // Text style for "Artactive"
    letter-spacing: 0.9px;
  }
}
@media (min-width: $tablet-width) {

}
@media (min-width: $desctop-width) {
  .logo{
    margin-right: 120px;
  }
}
