.page-title{
  @extend %fl-col;
  &__title{
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Muller Extra Bold";
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.06px;
  }
  &__description{
    margin-bottom: 40px;
    color: #ffffff;
    font-family: $article-title-ff;
    font-size: 21px;
    font-weight: 400;
  }
}
@media (min-width: $tablet-width) {
  .page-title{
    &__title{
      font-size: 45px;
    }
  }
}
@media (min-width: $desctop-width) {
  .page-title{
    &__title{
      width: 350px;
      font-size: 60px;
      letter-spacing: .8;
    }
    &__description{
      font-size: 32px;
    }
  }
}
