.section-text{
  &__content{
    @extend %fl-col;
  }
  &__title{
    margin-bottom: 35px;
    color: $article-title-color;
    font-family: $article-title-ff;
    font-size: 24px;
    font-weight: 400;
  }
  &__paragraph{
    margin-bottom: 30px;
    color: #5e606a;
    font-family: $content-ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  &__content-list{
    padding-left: 25px;
  }
  &__list-item{
    list-style: circle;
    color: #5e606a;
    font-family: $content-ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
.section-text__paragraph:last-child{
  margin-bottom: 10px;
}
@media (min-width: $desctop-width) {
  .section-text{
    order: 2;
    &__title{
      margin-bottom: 40px;
    }
  }
}
