.section-title{
  margin-bottom: 30px;
  color: $section-title-color;
  font-family: $section-title-ff;
  font-size: 30px;
  font-weight: 400;
  &--service{
    margin-bottom: 60px;
  }
}
@media (min-width: $tablet-width) {
}
@media (min-width: $desctop-width) {
  .section-title{
    &--about-us{
      margin-bottom: 60px;
    }
  }
}
