body {
  margin: 0;
  font-size: $font-size;
  font-family: sans-serif;

  @media (min-width: $screen-sm) {
    background-color: #ff0;
  }
}


.container {
  @include grid();
}

.form {
  @include form();
}

.block {
  display: none;

  @media (min-width: $screen-sm) {
    display: flex;
  }
}
.visible{
  display: block;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.invisible{
  display: none;
}
