$body-color: #fff;
$content-color: #838383;
$content-ff: "Open Sans";
$section-title-color: #7f38bd;
$section-title-ff: "Muller Bold";
$article-title-ff: "Muller Medium";
$article-title-color: #383d52;
$link-ff: "Raleway - Extra Bold";
$link-bg: #fb0275;
$header-descr-ff: "Muller Thin";
$form-title-ff: "Open Sans - Semi Bold";

$tablet-width: 750px;
$desctop-width: 1170px;

$tablet-side-padding: 40px;
